*{
    margin: 0px;
    padding: 0px;
}

.main{
   display: flex;
   flex-direction: column;
   height: 300px;

   justify-content: left;
   font-family: sans-serif;
   font-weight: 530;
}
.art{
   max-width: 150px;
   max-height:100%;
  }
.text{
   margin-left: 50px;
}

